#homePage{
    display: block;
}
#welcome{
    font-size: 170%;
    margin: 0 auto;
}
#gamePage{ display: none; }

#enterMobile{ display: none; }

#mobileButtons{ display: none; }

#mobileLeft, #mobileRight{
    height: 100px;
    width: 100px;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 29px;
    font-weight: bold;
}
#mainMenu{
    text-align: center;
    border: 1.2px solid black;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin: 10%;
    transition-duration: 400ms;
}
#mainMenu:hover{
    border: 1.2px dashed black;
    background-color: rgba(25, 68, 133, 0.216);
    padding: 30px;
}
p{
    font-size: 27px;
    cursor: pointer;
    transition-duration: 300ms;
}
p:hover{
    font-size: 30px;
    border-bottom: 1px black solid;
}
#myCanvas{
    border: 2px solid black;
}
#pong{
    cursor: pointer;
    font-size: 39px;
    font-weight: bold;
}
#player1Score, #player2Score{
    font-size: 23px;
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    margin: 30px;
}
@media screen and (max-width: 900px){
    header{
        margin: 0 auto;
        display: inline-block;
    }
    #myCanvas{
        border: 2px solid black;
        height: 250px;
        width: 400px;
        transform-origin: top left;
        transform: rotate(-90deg) translate(-100%);
        margin-left: 15%;
        margin-right: 15%;
        
    }
    #mobileButtons{
        display: block;
        bottom: 2%;
        position: absolute;
        left: 20%;
    }
    #enterDesktop{ display: none; }
    #enterMobile{ 
        display: block;
        bottom: 17%;
        left: 30%;
        position: absolute;
        font-size: 17px;
    }
}